openapi: 3.2.0
info:
  description: '## Introduction

    By using this REST API, you can easily integrate Clockify with your own add-ons, push and pull data

    between Clockify and other tools, and create custom add-ons on CAKE.com Marketplace.'
  title: Clockify Audit Log Report API
  version: v1
  x-logo:
    altText: Clockify logo
    url: https://clockify.me/downloads/clockify_logo_primary_black_margin.png
tags:
- name: Audit Log Report
  x-displayName: Audit Log Report
paths:
  /v1/workspaces/{workspaceId}/audit-log:
    servers:
    - url: https://auditlog-api.api.clockify.me
    post:
      operationId: getAuditLogs
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditLogGetRequestV1'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableV1ListAuditLogDtoV1'
          description: OK
      summary: Generate an audit log report
      tags:
      - Audit Log Report
      security:
      - ApiKeyAuth: []
components:
  schemas:
    PageableV1ListAuditLogDtoV1:
      type: object
      properties:
        response:
          type: array
          items:
            $ref: '#/components/schemas/AuditLogDtoV1'
    authors:
      required:
      - authorIds
      - contains
      type: object
      properties:
        authorIds:
          uniqueItems: true
          type: array
          description: Represents a set of author user ids. Include "SYSTEM" in this set to retrieve system related audit logs.
          example:
          - 45b687e29ae1f428e7ebe123
          - 67s687e29ae1f428e7ebe678
          - SYSTEM
          items:
            type: string
            description: Represents a set of author user ids. Include "SYSTEM" in this set to retrieve system related audit logs.
            example: '["45b687e29ae1f428e7ebe123","67s687e29ae1f428e7ebe678","SYSTEM"]'
        contains:
          minLength: 1
          type: string
          example: CONTAINS
          enum:
          - CONTAINS
          - DOES_NOT_CONTAIN
      description: Represents the audit log author filter.
    AuditLogGetRequestV1:
      required:
      - actions
      - authors
      - end
      - start
      type: object
      properties:
        actions:
          minItems: 1
          uniqueItems: true
          type: array
          description: Represents a set of audit log actions.
          example:
          - CREATE_TIME_PERSONAL_MANUAL
          - CREATE_TIME_PERSONAL_TIMER
          - CREATE_PROJECT
          items:
            type: string
            description: Represents a set of audit log actions.
            example: '["CREATE_TIME_PERSONAL_MANUAL","CREATE_TIME_PERSONAL_TIMER","CREATE_PROJECT"]'
            enum:
            - CREATE_TIME_PERSONAL_TIMER
            - CREATE_TIME_PERSONAL_MANUAL
            - CREATE_TIME_IMPORT
            - CREATE_TIME_KIOSK
            - CREATE_TIME_FOR_OTHER
            - RESTORE_TIME
            - RESTORE_TIME_FOR_OTHER
            - UPDATE_TIME_PERSONAL
            - UPDATE_TIME_FOR_OTHER
            - DELETE_TIME_PERSONAL
            - DELETE_TIME_FOR_OTHER
            - CREATE_PROJECT
            - CREATE_PROJECT_IMPORT
            - CREATE_PROJECT_QUICKBOOKS
            - UPDATE_PROJECT
            - DELETE_PROJECT
            - CREATE_TASK
            - CREATE_TASK_IMPORT
            - UPDATE_TASK
            - DELETE_TASK
            - CREATE_CLIENT
            - CREATE_CLIENT_IMPORT
            - CREATE_CLIENT_QUICKBOOKS
            - UPDATE_CLIENT
            - DELETE_CLIENT
            - CREATE_TAG
            - CREATE_TAG_IMPORT
            - UPDATE_TAG
            - DELETE_TAG
            - CREATE_EXPENSE
            - CREATE_EXPENSE_FOR_OTHER
            - RESTORE_EXPENSE
            - RESTORE_EXPENSE_FOR_OTHER
            - UPDATE_EXPENSE
            - UPDATE_EXPENSE_FOR_OTHER
            - DELETE_EXPENSE
            - DELETE_EXPENSE_FOR_OTHER
        authors:
          $ref: '#/components/schemas/authors'
        end:
          type: string
          description: Represents an end date in the yyyy-MM-ddThh:mm:ssZ format.
          example: '2025-05-01T23:59:59Z'
        page:
          minimum: 0
          type: integer
          description: Page number.
          format: int32
          example: 1
          default: 1
        page-size:
          maximum: 50
          minimum: 1
          type: integer
          description: Page size.
          format: int32
          example: 20
          default: 20
        start:
          type: string
          description: Represents a start date in the yyyy-MM-ddThh:mm:ssZ format.
          example: '2025-05-01T00:00:00Z'
    AuditLogDtoV1:
      type: object
      properties:
        action:
          type: string
          description: Represents an audit log action type.
          example: CREATE_PROJECT
          enum:
          - CREATE_TIME_PERSONAL_TIMER
          - CREATE_TIME_PERSONAL_MANUAL
          - CREATE_TIME_IMPORT
          - CREATE_TIME_KIOSK
          - CREATE_TIME_FOR_OTHER
          - RESTORE_TIME
          - RESTORE_TIME_FOR_OTHER
          - UPDATE_TIME_PERSONAL
          - UPDATE_TIME_FOR_OTHER
          - DELETE_TIME_PERSONAL
          - DELETE_TIME_FOR_OTHER
          - CREATE_PROJECT
          - CREATE_PROJECT_IMPORT
          - CREATE_PROJECT_QUICKBOOKS
          - UPDATE_PROJECT
          - DELETE_PROJECT
          - CREATE_TASK
          - CREATE_TASK_IMPORT
          - UPDATE_TASK
          - DELETE_TASK
          - CREATE_CLIENT
          - CREATE_CLIENT_IMPORT
          - CREATE_CLIENT_QUICKBOOKS
          - UPDATE_CLIENT
          - DELETE_CLIENT
          - CREATE_TAG
          - CREATE_TAG_IMPORT
          - UPDATE_TAG
          - DELETE_TAG
          - CREATE_EXPENSE
          - CREATE_EXPENSE_FOR_OTHER
          - RESTORE_EXPENSE
          - RESTORE_EXPENSE_FOR_OTHER
          - UPDATE_EXPENSE
          - UPDATE_EXPENSE_FOR_OTHER
          - DELETE_EXPENSE
          - DELETE_EXPENSE_FOR_OTHER
        content:
          type: string
          description: Represents the current value of the modified entity
          example: '{"projectName":"New Project","client":"","archived":false,"visibility":true,"members":["John Doe"],"billableByDefault":true,"note":"","billableRate":0,"costRate":null,"currency":"USD","activeEstimate":"NONE","estimateType":null,"estimate":null,"recurringEstimate":false,"interval":null,"month":null,"dayOfWeek":null,"dayOfMonth":null,"hour":null}'
        previousContent:
          type: string
          description: Represents the previous value of the modified entity.
          example: 'null'
        timestamp:
          type: string
          description: Represents a timestamp of when the audit log entry was created.
          example: '2025-05-01T11:15:00Z'
        userEmail:
          type: string
          description: Represents the email address of the user.
          example: johndoe@example.com
        userId:
          type: string
          description: Represents a user identifier across the system.
          example: 45b687e29ae1f428e7ebe123
        userName:
          type: string
          description: Represents the name of the user.
          example: John Doe
        workspaceId:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
  securitySchemes:
    AddonKeyAuth:
      in: header
      name: x-addon-token
      type: apiKey
    ApiKeyAuth:
      in: header
      name: x-api-key
      type: apiKey
    MarketplaceKeyAuth:
      in: header
      name: x-marketplace-token
      type: apiKey
    ReportAddonKeyAuth:
      in: header
      name: x-addon-token
      type: apiKey
x-tagGroups:
- name: Clockify API
  tags:
  - User
  - Workspace
  - Webhooks
  - Approval
  - Client
  - Custom fields
  - Expense
  - Holiday
  - Invoice
  - Project
  - Task
  - Scheduling
  - Tag
  - Time entry
  - Balance
  - Policy
  - Time Off
  - Group
- name: Clockify Reports API
  tags:
  - Shared Report
  - Team Report
  - Time Entry Report
  - Expense Report
- name: Clockify Audit Log API
  tags:
  - Audit Log Report
- name: Deprecated API
  tags:
  - Template (Deprecated)
  - Scheduling (Deprecated)
  - Workspace (Deprecated)
- name: Experimental API
  tags:
  - Entity changes (Experimental)
- name: Guide
  tags:
  - 'Entity Changes: Use cases'
