openapi: 3.2.0
info:
  description: '## Introduction

    By using this REST API, you can easily integrate Clockify with your own add-ons, push and pull data

    between Clockify and other tools, and create custom add-ons on CAKE.com Marketplace.'
  title: Clockify Time entry API
  version: v1
  x-logo:
    altText: Clockify logo
    url: https://clockify.me/downloads/clockify_logo_primary_black_margin.png
tags:
- name: Time entry
  x-displayName: Time entry
paths:
  /v1/workspaces/{workspaceId}/time-entries:
    servers:
    - url: https://api.clockify.me/api
    post:
      operationId: createTimeEntry
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTimeEntryRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeEntryDtoImplV1'
          description: Created
      summary: Add a new time entry
      tags:
      - Time entry
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
  /v1/workspaces/{workspaceId}/time-entries/invoiced:
    servers:
    - url: https://api.clockify.me/api
    patch:
      operationId: updateInvoicedStatus
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateInvoicedStatusRequest'
        required: true
      responses:
        '200':
          description: OK
      summary: Mark time entries as invoiced
      tags:
      - Time entry
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
  /v1/workspaces/{workspaceId}/time-entries/status/in-progress:
    servers:
    - url: https://api.clockify.me/api
    get:
      operationId: getInProgressTimeEntries
      parameters:
      - in: path
        name: workspaceId
        required: true
        schema:
          type: string
      - in: query
        name: page
        required: false
        schema:
          minimum: 1
          type: integer
          format: int32
          default: 1
      - in: query
        name: page-size
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
          default: 10
      responses:
        '200':
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeEntryWithRatesDtoV1'
          description: OK
      summary: Get all in progress time entries on a workspace
      tags:
      - Time entry
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
  /v1/workspaces/{workspaceId}/time-entries/{id}:
    servers:
    - url: https://api.clockify.me/api
    delete:
      operationId: deleteTimeEntry
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      - description: Represents a time entry identifier across the system.
        example: 64c777ddd3fcab07cfbb210c
        in: path
        name: id
        required: true
        schema:
          type: string
          description: Represents a time entry identifier across the system.
          example: 64c777ddd3fcab07cfbb210c
      responses:
        '204':
          description: No Content
      summary: Delete a time entry from a workspace
      tags:
      - Time entry
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
    get:
      operationId: getTimeEntry
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      - description: Represents a time entry identifier across the system.
        example: 64c777ddd3fcab07cfbb210c
        in: path
        name: id
        required: true
        schema:
          type: string
          description: Represents a time entry identifier across the system.
          example: 64c777ddd3fcab07cfbb210c
      - description: Flag to set whether to include additional information of a time entry or not.
        in: query
        name: hydrated
        required: false
        schema:
          type: boolean
          description: Flag to set whether to include additional information of a time entry or not.
          default: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeEntryWithRatesDtoV1'
          description: OK
      summary: Get a specific time entry on a workspace
      tags:
      - Time entry
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
    put:
      operationId: updateTimeEntry
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      - description: Represents a time entry identifier across the system.
        example: 64c777ddd3fcab07cfbb210c
        in: path
        name: id
        required: true
        schema:
          type: string
          description: Represents a time entry identifier across the system.
          example: 64c777ddd3fcab07cfbb210c
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTimeEntryRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeEntryDtoImplV1'
          description: OK
      summary: Update time entry on a workspace
      tags:
      - Time entry
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
  /v1/workspaces/{workspaceId}/user/{userId}/time-entries:
    servers:
    - url: https://api.clockify.me/api
    delete:
      operationId: deleteMany
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      - description: Represents a user identifier across the system.
        example: 5a0ab5acb07987125438b60f
        in: path
        name: userId
        required: true
        schema:
          type: string
          description: Represents a user identifier across the system.
          example: 5a0ab5acb07987125438b60f
      - description: Represents a list of time entry ids to delete.
        example: 5a0ab5acb07987125438b60f
        in: query
        name: time-entry-ids
        required: true
        schema:
          type: array
          description: Represents a list of time entry ids to delete.
          example: 5a0ab5acb07987125438b60f
          items:
            type: string
            description: Represents a list of time entry ids to delete.
            example: 5a0ab5acb07987125438b60f
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeEntryDtoImplV1'
          description: OK
      summary: Delete all time entries for a user on a workspace
      tags:
      - Time entry
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
    get:
      operationId: getTimeEntries
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      - description: Represents a user identifier across the system.
        example: 5a0ab5acb07987125438b60f
        in: path
        name: userId
        required: true
        schema:
          type: string
          description: Represents a user identifier across the system.
          example: 5a0ab5acb07987125438b60f
      - description: Represents a term for searching time entries by description.
        example: Description keywords
        in: query
        name: description
        required: false
        schema:
          type: string
          description: Represents a term for searching time entries by description.
          example: Description keywords
      - description: Represents a start date in the yyyy-MM-ddThh:mm:ssZ format.
        example: '2020-01-01T00:00:00Z'
        in: query
        name: start
        required: false
        schema:
          type: string
          description: Represents a start date in the yyyy-MM-ddThh:mm:ssZ format.
          example: '2020-01-01T00:00:00Z'
      - description: Represents an end date in the yyyy-MM-ddThh:mm:ssZ format.
        example: '2021-01-01T00:00:00Z'
        in: query
        name: end
        required: false
        schema:
          type: string
          description: Represents an end date in the yyyy-MM-ddThh:mm:ssZ format.
          example: '2021-01-01T00:00:00Z'
      - description: If provided, you'll get a filtered list of time entries that matches the provided string in their project id.
        example: 5b641568b07987035750505e
        in: query
        name: project
        required: false
        schema:
          type: string
          description: If provided, you'll get a filtered list of time entries that matches the provided string in their project id.
          example: 5b641568b07987035750505e
      - description: If provided, you'll get a filtered list of time entries that matches the provided string in their task id.
        example: 64c777ddd3fcab07cfbb210c
        in: query
        name: task
        required: false
        schema:
          type: string
          description: If provided, you'll get a filtered list of time entries that matches the provided string in their task id.
          example: 64c777ddd3fcab07cfbb210c
      - description: If provided, you'll get a filtered list of time entries that matches the provided string(s) in their tag id(s).
        example:
        - 5e4117fe8c625f38930d57b7
        - 7e4117fe8c625f38930d57b8
        in: query
        name: tags
        required: false
        schema:
          uniqueItems: true
          type: array
          description: If provided, you'll get a filtered list of time entries that matches the provided string(s) in their tag id(s).
          example:
          - 5e4117fe8c625f38930d57b7
          - 7e4117fe8c625f38930d57b8
          items:
            type: string
            description: If provided, you'll get a filtered list of time entries that matches the provided string(s) in their tag id(s).
            example: '["5e4117fe8c625f38930d57b7","7e4117fe8c625f38930d57b8"]'
      - description: Flag to set whether to only get time entries which have a project.
        in: query
        name: project-required
        required: false
        schema:
          type: boolean
          description: Flag to set whether to only get time entries which have a project.
          default: false
      - description: Flag to set whether to only get time entries which have tasks.
        in: query
        name: task-required
        required: false
        schema:
          type: boolean
          description: Flag to set whether to only get time entries which have tasks.
          default: false
      - description: Flag to set whether to include additional information on time entries or not.
        in: query
        name: hydrated
        required: false
        schema:
          type: boolean
          description: Flag to set whether to include additional information on time entries or not.
          default: false
      - description: Page number.
        example: 1
        in: query
        name: page
        required: false
        schema:
          type: integer
          description: Page number.
          format: int32
          example: 1
          default: 1
      - description: Page size.
        example: 50
        in: query
        name: page-size
        required: false
        schema:
          minimum: 1
          type: integer
          description: Page size.
          format: int32
          example: 50
          default: 50
      - description: Flag to set whether to filter only in progress time entries.
        in: query
        name: in-progress
        required: false
        schema:
          type: string
      - description: Valid yyyy-MM-ddThh:mm:ssZ format date. If provided, filters results within the week before the datetime provided and only those entries with assigned project or task.
        example: '2020-01-01T00:00:00Z'
        in: query
        name: get-week-before
        required: false
        schema:
          type: string
          description: Valid yyyy-MM-ddThh:mm:ssZ format date. If provided, filters results within the week before the datetime provided and only those entries with assigned project or task.
          example: '2020-01-01T00:00:00Z'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeEntryWithRatesDtoV1'
          description: OK
      summary: Get time entries for a user on a workspace
      tags:
      - Time entry
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
    patch:
      operationId: stopRunningTimeEntry
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      - description: Represents a user identifier across the system.
        example: 5a0ab5acb07987125438b60f
        in: path
        name: userId
        required: true
        schema:
          type: string
          description: Represents a user identifier across the system.
          example: 5a0ab5acb07987125438b60f
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopTimeEntryRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeEntryDtoImplV1'
          description: OK
      summary: Stop a currently running timer on a workspace for a user
      tags:
      - Time entry
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
    post:
      operationId: createForOthers
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      - description: Represents a user identifier across the system.
        example: 5a0ab5acb07987125438b60f
        in: path
        name: userId
        required: true
        schema:
          type: string
          description: Represents a user identifier across the system.
          example: 5a0ab5acb07987125438b60f
      - description: Represents a time entry identifier across the system.
        example: 64c777ddd3fcab07cfbb210c
        in: query
        name: from-entry
        required: false
        schema:
          type: string
          description: Represents a time entry identifier across the system.
          example: 64c777ddd3fcab07cfbb210c
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTimeEntryRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeEntryDtoImplV1'
          description: Created
      summary: Add a new time entry for another user on workspace
      tags:
      - Time entry
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
    put:
      operationId: replaceMany
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      - description: Represents a user identifier across the system.
        example: 5a0ab5acb07987125438b60f
        in: path
        name: userId
        required: true
        schema:
          type: string
          description: Represents a user identifier across the system.
          example: 5a0ab5acb07987125438b60f
      - description: If set to true, results will contain additional information about the time entry.
        in: query
        name: hydrated
        required: false
        schema:
          type: boolean
          description: If set to true, results will contain additional information about the time entry.
          default: false
      requestBody:
        content:
          application/json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/UpdateTimeEntryBulkRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TimeEntryDtoV1'
          description: OK
      summary: Bulk edit time entries
      tags:
      - Time entry
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
  /v1/workspaces/{workspaceId}/user/{userId}/time-entries/{id}/duplicate:
    servers:
    - url: https://api.clockify.me/api
    post:
      operationId: duplicateTimeEntry
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      - description: Represents a user identifier across the system.
        example: 5a0ab5acb07987125438b60f
        in: path
        name: userId
        required: true
        schema:
          type: string
          description: Represents a user identifier across the system.
          example: 5a0ab5acb07987125438b60f
      - description: Represents a time entry identifier across the system.
        example: 8j39fn9307hh5125439g2ast
        in: path
        name: id
        required: true
        schema:
          type: string
          description: Represents a time entry identifier across the system.
          example: 8j39fn9307hh5125439g2ast
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeEntryDtoImplV1'
          description: Created
      summary: Duplicate a time entry
      tags:
      - Time entry
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
components:
  schemas:
    TimeEntryId:
      type: object
      properties:
        dateOfCreationFromObjectId:
          type: string
          format: date-time
      description: Represents a list of invoiced time entry ids
      example:
      - 54m377ddd3fcab07cfbb432w
      - 25b687e29ae1f428e7ebe123
    UpdateTimeEntryBulkRequest:
      required:
      - id
      type: object
      properties:
        billable:
          type: boolean
          description: Indicates whether a time entry is billable or not.
          default: false
        customFields:
          maxItems: 50
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/UpdateCustomFieldRequest'
        description:
          maxLength: 3000
          minLength: 0
          type: string
          description: Represents a time entry description.
          example: This is a sample time entry description.
        end:
          type: string
          description: Represents an end date in the yyyy-MM-ddThh:mm:ssZ format.
          format: date-time
          example: '2021-01-01T00:00:00Z'
        id:
          minLength: 1
          type: string
          description: Represents a time entry identifier across the system.
          example: 64c777ddd3fcab07cfbb210c
        projectId:
          type: string
          description: Represents a project identifier across the system.
          example: 25b687e29ae1f428e7ebe123
        start:
          type: string
          description: Represents a start date in the yyyy-MM-ddThh:mm:ssZ format.
          format: date-time
          example: '2020-01-01T00:00:00Z'
        tagIds:
          type: array
          description: Represents a list of tag ids.
          example:
          - 321r77ddd3fcab07cfbb567y
          - 44x777ddd3fcab07cfbb88f
          items:
            type: string
            description: Represents a list of tag ids.
            example: '["321r77ddd3fcab07cfbb567y","44x777ddd3fcab07cfbb88f"]'
        taskId:
          type: string
          description: Represents a task identifier across the system.
          example: 54m377ddd3fcab07cfbb432w
        type:
          type: string
          enum:
          - REGULAR
          - BREAK
    StopTimeEntryRequest:
      required:
      - end
      type: object
      properties:
        end:
          type: string
          description: Represents an end date in the yyyy-MM-ddThh:mm:ssZ format.
          format: date-time
          example: '2021-01-01T00:00:00Z'
    TimeIntervalDtoV1:
      type: object
      properties:
        duration:
          type: string
          description: Represents a time duration.
          example: '8000'
        end:
          type: string
          description: Represents an end date in yyyy-MM-ddThh:mm:ssZ format.
          format: date-time
          example: '2021-01-01T00:00:00Z'
        start:
          type: string
          description: Represents a start date in yyyy-MM-ddThh:mm:ssZ format.
          format: date-time
          example: '2020-01-01T00:00:00Z'
      description: Represents a time interval object.
    TimeEntryDtoImplV1:
      type: object
      properties:
        billable:
          type: boolean
          description: Indicates whether a time entry is billable.
          default: false
        customFieldValues:
          type: array
          description: Represents a list of custom field value objects.
          items:
            $ref: '#/components/schemas/CustomFieldValueDtoV1'
        description:
          type: string
          description: Represents time entry description.
          example: This is a sample time entry description.
        id:
          type: string
          description: Represents time entry identifier across the system.
          example: 64c777ddd3fcab07cfbb210c
        isLocked:
          type: boolean
          description: Represents whether time entry is locked for modification.
          default: false
        kioskId:
          type: string
          description: Represents kiosk identifier across the system.
          example: 94c777ddd3fcab07cfbb210d
        projectId:
          type: string
          description: Represents project identifier across the system.
          example: 25b687e29ae1f428e7ebe123
        tagIds:
          type: array
          description: Represents a list of tag identifiers across the system.
          example:
          - 321r77ddd3fcab07cfbb567y
          - 44x777ddd3fcab07cfbb88f
          items:
            type: string
            description: Represents a list of tag identifiers across the system.
            example: '["321r77ddd3fcab07cfbb567y","44x777ddd3fcab07cfbb88f"]'
        taskId:
          type: string
          description: Represents task identifier across the system.
          example: 54m377ddd3fcab07cfbb432w
        timeInterval:
          $ref: '#/components/schemas/TimeIntervalDtoV1'
        type:
          type: string
          description: Represents a time entry type enum.
          example: BREAK
          enum:
          - REGULAR
          - BREAK
          - HOLIDAY
          - TIME_OFF
        userId:
          type: string
          description: Represents user identifier across the system.
          example: 5a0ab5acb07987125438b60f
        workspaceId:
          type: string
          description: Represents workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
    TimeEntryWithRatesDtoV1:
      type: object
      properties:
        billable:
          type: boolean
          description: Indicates whether a time entry is billable.
          default: false
        costRate:
          $ref: '#/components/schemas/RateDtoV1'
        customFieldValues:
          type: array
          description: Represents a list of custom field value objects.
          items:
            $ref: '#/components/schemas/CustomFieldValueDtoV1'
        description:
          type: string
          description: Represents time entry description.
          example: This is a sample time entry description.
        hourlyRate:
          $ref: '#/components/schemas/RateDtoV1'
        id:
          type: string
          description: Represents time entry identifier across the system.
          example: 64c777ddd3fcab07cfbb210c
        isLocked:
          type: boolean
          description: Represents whether time entry is locked for modification.
          default: false
        kioskId:
          type: string
          description: Represents kiosk identifier across the system.
          example: 94c777ddd3fcab07cfbb210d
        projectId:
          type: string
          description: Represents project identifier across the system.
          example: 25b687e29ae1f428e7ebe123
        tagIds:
          type: array
          description: Represents a list of tag identifiers across the system.
          example:
          - 321r77ddd3fcab07cfbb567y
          - 44x777ddd3fcab07cfbb88f
          items:
            type: string
            description: Represents a list of tag identifiers across the system.
            example: '["321r77ddd3fcab07cfbb567y","44x777ddd3fcab07cfbb88f"]'
        taskId:
          type: string
          description: Represents task identifier across the system.
          example: 54m377ddd3fcab07cfbb432w
        timeInterval:
          $ref: '#/components/schemas/TimeIntervalDtoV1'
        type:
          type: string
          description: Represents a time entry type enum.
          example: BREAK
          enum:
          - REGULAR
          - BREAK
          - HOLIDAY
          - TIME_OFF
        userId:
          type: string
          description: Represents user identifier across the system.
          example: 5a0ab5acb07987125438b60f
        workspaceId:
          type: string
          description: Represents workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
    UpdateCustomFieldRequest:
      required:
      - customFieldId
      type: object
      properties:
        customFieldId:
          type: string
          description: Represents custom field identifier across the system.
          example: 5e4117fe8c625f38930d57b7
        sourceType:
          type: string
          description: Represents a custom field value source type.
          example: WORKSPACE
          enum:
          - WORKSPACE
          - PROJECT
          - TIMEENTRY
        value:
          type: object
          description: Represents a custom field's value.
          example: new value
      description: Represents a list of value objects for user’s custom fields.
    UpdateTimeEntryRequest:
      required:
      - start
      type: object
      properties:
        billable:
          type: boolean
          description: Indicates whether a time entry is billable or not.
          default: false
        customFields:
          maxItems: 50
          minItems: 0
          type: array
          description: Represents a list of value objects for user’s custom fields.
          items:
            $ref: '#/components/schemas/UpdateCustomFieldRequest'
        description:
          maxLength: 3000
          minLength: 0
          type: string
          description: Represents time entry description.
          example: This is a sample time entry description.
        end:
          type: string
          description: Represents an end date in yyyy-MM-ddThh:mm:ssZ format.
          format: date-time
          example: '2021-01-01T00:00:00Z'
        projectId:
          type: string
          description: Represents a project identifier across the system.
          example: 25b687e29ae1f428e7ebe123
        start:
          type: string
          description: Represents a start date in yyyy-MM-ddThh:mm:ssZ format.
          format: date-time
          example: '2020-01-01T00:00:00Z'
        tagIds:
          type: array
          description: Represents a list of tag ids.
          example:
          - 321r77ddd3fcab07cfbb567y
          - 44x777ddd3fcab07cfbb88f
          items:
            type: string
            description: Represents a list of tag ids.
            example: '["321r77ddd3fcab07cfbb567y","44x777ddd3fcab07cfbb88f"]'
        taskId:
          type: string
          description: Represents a task identifier across the system.
          example: 54m377ddd3fcab07cfbb432w
        type:
          type: string
          enum:
          - REGULAR
          - BREAK
    CustomFieldValueDtoV1:
      type: object
      properties:
        customFieldId:
          type: string
          description: Represents custom field identifier across the system.
          example: 5e4117fe8c625f38930d57b7
        name:
          type: string
          description: Represents custom field name.
          example: TIN
        timeEntryId:
          type: string
          description: Represents time entry identifier across the system.
          example: 64c777ddd3fcab07cfbb210c
        type:
          type: string
          description: Represents a custom field value source type.
          example: WORKSPACE
        value:
          type: object
          description: Represents custom field value.
          example: 20231211-12345
      description: Represents a list of custom field value objects.
    TimeEntryDtoV1:
      type: object
      properties:
        billable:
          type: boolean
          description: Indicates whether a time entry is billable.
          default: false
        customFieldValues:
          type: array
          description: Represents a list of custom field value objects.
          items:
            $ref: '#/components/schemas/CustomFieldValueDtoV1'
        description:
          type: string
          description: Represents time entry description.
          example: This is a sample time entry description.
        id:
          type: string
          description: Represents time entry identifier across the system.
          example: 64c777ddd3fcab07cfbb210c
        isLocked:
          type: boolean
          description: Represents whether time entry is locked for modification.
          default: false
        kioskId:
          type: string
          description: Represents kiosk identifier across the system.
          example: 94c777ddd3fcab07cfbb210d
        projectId:
          type: string
          description: Represents project identifier across the system.
          example: 25b687e29ae1f428e7ebe123
        tagIds:
          type: array
          description: Represents a list of tag identifiers across the system.
          example:
          - 321r77ddd3fcab07cfbb567y
          - 44x777ddd3fcab07cfbb88f
          items:
            type: string
            description: Represents a list of tag identifiers across the system.
            example: '["321r77ddd3fcab07cfbb567y","44x777ddd3fcab07cfbb88f"]'
        taskId:
          type: string
          description: Represents task identifier across the system.
          example: 54m377ddd3fcab07cfbb432w
        timeInterval:
          $ref: '#/components/schemas/TimeIntervalDtoV1'
        type:
          type: string
          description: Represents a time entry type enum.
          example: BREAK
          enum:
          - REGULAR
          - BREAK
          - HOLIDAY
          - TIME_OFF
        userId:
          type: string
          description: Represents user identifier across the system.
          example: 5a0ab5acb07987125438b60f
        workspaceId:
          type: string
          description: Represents workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
    UpdateInvoicedStatusRequest:
      required:
      - invoiced
      - timeEntryIds
      type: object
      properties:
        invoiced:
          type: boolean
          description: Indicates whether time entry is invoiced or not.
          default: false
        timeEntryIds:
          minItems: 1
          uniqueItems: true
          type: array
          description: Represents a list of invoiced time entry ids
          example:
          - 54m377ddd3fcab07cfbb432w
          - 25b687e29ae1f428e7ebe123
          items:
            $ref: '#/components/schemas/TimeEntryId'
    CreateCustomAttributeRequest:
      required:
      - name
      - namespace
      - value
      type: object
      properties:
        name:
          minLength: 1
          type: string
          description: Represents custom attribute name.
          example: race
        namespace:
          minLength: 1
          type: string
          description: Represents custom attribute namespace.
          example: user_info
        value:
          minLength: 1
          type: string
          description: Represents custom attribute value.
          example: Asian
      description: Represents a list of create custom field request objects.
    RateDtoV1:
      type: object
      properties:
        amount:
          type: integer
          description: Represents an amount as integer.
          format: int32
          example: 10500
        currency:
          type: string
          description: Represents a currency.
          example: USD
      description: Represents cost rate object.
    CreateTimeEntryRequest:
      type: object
      properties:
        billable:
          type: boolean
          description: Indicates whether a time entry is billable or not.
          default: false
        customAttributes:
          maxItems: 10
          minItems: 0
          type: array
          description: Represents a list of create custom field request objects.
          items:
            $ref: '#/components/schemas/CreateCustomAttributeRequest'
        customFields:
          maxItems: 50
          minItems: 0
          type: array
          description: Represents a list of value objects for user’s custom fields.
          items:
            $ref: '#/components/schemas/UpdateCustomFieldRequest'
        description:
          maxLength: 3000
          type: string
          description: Represents time entry description.
          example: This is a sample time entry description.
        end:
          type: string
          description: Represents an end date in yyyy-MM-ddThh:mm:ssZ format.
          format: date-time
          example: '2021-01-01T00:00:00Z'
        projectId:
          type: string
          description: Represents a project identifier across the system.
          example: 25b687e29ae1f428e7ebe123
        start:
          type: string
          description: Represents a start date in yyyy-MM-ddThh:mm:ssZ format.
          format: date-time
          example: '2020-01-01T00:00:00Z'
        tagIds:
          type: array
          description: Represents a list of tag ids.
          example:
          - 321r77ddd3fcab07cfbb567y
          - 44x777ddd3fcab07cfbb88f
          items:
            type: string
            description: Represents a list of tag ids.
            example: '["321r77ddd3fcab07cfbb567y","44x777ddd3fcab07cfbb88f"]'
        taskId:
          type: string
          description: Represents a task identifier across the system.
          example: 54m377ddd3fcab07cfbb432w
        type:
          type: string
          description: Valid time entry type.
          enum:
          - REGULAR
          - BREAK
  securitySchemes:
    AddonKeyAuth:
      in: header
      name: x-addon-token
      type: apiKey
    ApiKeyAuth:
      in: header
      name: x-api-key
      type: apiKey
    MarketplaceKeyAuth:
      in: header
      name: x-marketplace-token
      type: apiKey
    ReportAddonKeyAuth:
      in: header
      name: x-addon-token
      type: apiKey
x-tagGroups:
- name: Clockify API
  tags:
  - User
  - Workspace
  - Webhooks
  - Approval
  - Client
  - Custom fields
  - Expense
  - Holiday
  - Invoice
  - Project
  - Task
  - Scheduling
  - Tag
  - Time entry
  - Balance
  - Policy
  - Time Off
  - Group
- name: Clockify Reports API
  tags:
  - Shared Report
  - Team Report
  - Time Entry Report
  - Expense Report
- name: Clockify Audit Log API
  tags:
  - Audit Log Report
- name: Deprecated API
  tags:
  - Template (Deprecated)
  - Scheduling (Deprecated)
  - Workspace (Deprecated)
- name: Experimental API
  tags:
  - Entity changes (Experimental)
- name: Guide
  tags:
  - 'Entity Changes: Use cases'
