openapi: 3.0.1
info:
  description: "## Introduction\nBy using this REST API, you can easily integrate Clockify with your own add-ons, push and pull data\nbetween Clockify and other tools, and create custom add-ons on [CAKE.com Marketplace](https://marketplace.cake.com).\nWhether you’re looking to automate time tracking, generate custom reports, or build other custom\nintegrations, our API provides the flexibility and power you need to get the job done. If you\nhave any questions or run into any issues while using our API, don’t hesitate to reach out to us for help.\nYou can also post questions on Stack Overflow with the Clockify tag to get help from the community.\n## Authentication\nTo authenticate your requests to your API, make sure to include either the ‘X-Api-Key’ or the\n‘X-Addon-Token’ in the request header, containing your API or Addon key. If your workspace is\non a subdomain (e.g. subdomain.clockify.me), you’ll need to generate a new API key in your\nProfile Settings that will work specifically for that workspace. This ensures that you’re\naccessing data from the correct workspace and helps maintain the security of your data.\n## Webhooks\nWebhooks can enhance your workflow by keeping your add-on up-to-date with the latest changes in\nClockify. With Clockify’s webhooks you can receive real-time notifications when certain events such as\nstarting a timer or deleting a time entry occur in Clockify.\nDepending on the workspace plan, workspace owners and admins can create:\n\n* Up to 3 webhooks on **FREE** plan\n* Up to 10 webhooks per user, with a total of 100 webhooks per entire workspace\non **BASIC**, **STANDARD** and **PRO** plans\n* Up to 100 webhooks per user, with a total of 300 webhooks per entire workspace on **ENTERPRISE** plan\n\n## Rate limiting\nOur REST API has a specific rate limit of 50 requests per second (by addon on one workspace) when\naccessed using X-Addon-Token. Exceeding this limit will result in an error message with the description\n\"Too many requests\".\n## Pagination\nOur REST API supports pagination for all synchronous GET endpoints that retrieve lists of entities.\nWhen an endpoint accepts the `page` and `pageSize` query parameters, it will return a paginated response.\n\nTo control the data returned in a paginated request, you can use the following optional query parameters.\n\n- **page** (integer): The page number you wish to retrieve. This is 1-indexed. If this parameter is omitted,\nthe API will default to the first page (page=1).\n- **pageSize** (integer): The number of items to include on each page. If this parameter is omitted,\na default page size will be used.\n\nEvery response from an endpoint that supports these parameters will include a custom `Last-Page` header.\nThis header provides a simple way to determine if you have reached the end of the data set.\n\n- **true:** The current page is the final page; no more data is available.\n- **false:** Additional pages can be fetched.\n## API URLs\nRefer to the list on what URL to use base on the subdomain and data region settings of your workspace.\n* Global - can be used by workspaces with or without subdomain.\n    * Regular: https://api.clockify.me/api/v1/file/image\n    * Reports: https://reports.api.clockify.me/v1/workspaces/{workspaceId}/reports/detailed\n* Regional\n    * Non-subdomain\n        * Regular: https://euc1.clockify.me/api/v1/file/image\n        * Reports: https://use2.clockify.me/report/v1/workspaces/{workspaceId}/reports/detailed\n    * Subdomain\n        * Regular: https://euc1.clockify.me/api/v1/file/image\n        * Reports: https://yoursubdomainname.clockify.me/report/v1/workspaces/{workspaceId}/reports/detailed\n* Developer\n    * Regular: https://developer.clockify.me/api/v1/file/image\n    * Reports: https://developer.clockify.me/report/v1/workspaces/{workspaceId}/reports/detailed\n## Regional Server Prefixes\nIf your workspace is in a specific region, you need to change your URL prefix to access v1 API endpoints.\nFor example, this is how **backend** api [v1/file/image](#tag/User/operation/uploadImage) endpoint\nwould look in EU region:\n[https://euc1.clockify.me/api/v1/file/image](https://euc1.clockify.me)\n\nBelow are the available regional server prefixes:\n* **EU (Germany)**: euc1\n* **USA**: use2\n* **UK**: euw2\n* **AU**: apse2\n\n\n## Breaking changes\nBreaking changes in APIs are modifications that disrupt existing integrations,\nrequiring users to update their applications to maintain functionality.\nThese changes can lead to failures or unexpected results if not addressed.\nSee the list of [breaking changes](breaking-changes/).\n\n## Experimental APIs\nThe experimental API has been thoroughly tested and is ready for use in production. However, please note that user feedback may lead to changes in the API’s structure or functionality. If you choose to use the experimental API, be prepared to modify your application code accordingly to accommodate any updates."
  title: Clockify Approval Group API
  version: v1
  x-logo:
    altText: Clockify logo
    url: https://clockify.me/downloads/clockify_logo_primary_black_margin.png
tags:
- name: Group
  x-displayName: Group
paths:
  /v1/workspaces/{workspaceId}/user-groups:
    servers:
    - url: https://api.clockify.me/api
    get:
      operationId: getUserGroups
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      - description: If provided, you'll get a filtered list of groups that matches the string provided in their project id.
        example: 5a0ab5acb07987125438b60f
        in: query
        name: project-id
        required: false
        schema:
          type: string
      - description: If provided, you'll get a filtered list of groups that matches the string provided in their name.
        example: development_team
        in: query
        name: name
        required: false
        schema:
          type: string
          description: If provided, you'll get a filtered list of groups that matches the string provided in their name.
          example: development_team
      - description: Column to be used as the sorting criteria.
        example: NAME
        in: query
        name: sort-column
        required: false
        schema:
          type: string
          enum:
          - ID
          - NAME
      - description: Sorting mode.
        example: ASCENDING
        in: query
        name: sort-order
        required: false
        schema:
          type: string
          enum:
          - ASCENDING
          - DESCENDING
      - description: Page number.
        example: 1
        in: query
        name: page
        required: false
        schema:
          type: integer
          description: Page number.
          format: int32
          example: 1
          default: 1
      - description: Page size.
        example: 50
        in: query
        name: page-size
        required: false
        schema:
          minimum: 1
          type: integer
          description: Page size.
          format: int32
          example: 50
          default: 50
      - description: If provided, you'll get a list of team managers assigned to this user group.
        example: true
        in: query
        name: includeTeamManagers
        required: false
        schema:
          type: boolean
          description: If provided, you'll get a list of team managers assigned to this user group.
          example: true
          default: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserGroupDtoV1'
          description: OK
      summary: Find all groups on a workspace
      tags:
      - Group
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
    post:
      operationId: createUserGroup
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGroupRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupDtoV1'
          description: Created
      summary: Add a new group
      tags:
      - Group
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
  /v1/workspaces/{workspaceId}/user-groups/{id}:
    servers:
    - url: https://api.clockify.me/api
    delete:
      operationId: deleteUserGroup
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      - description: Represents a user group identifier across the system.
        example: 76a687e29ae1f428e7ebe101
        in: path
        name: id
        required: true
        schema:
          type: string
          description: Represents a user group identifier across the system.
          example: 76a687e29ae1f428e7ebe101
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupDtoV1'
          description: OK
      summary: Delete a group
      tags:
      - Group
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
    put:
      operationId: updateUserGroup
      parameters:
      - description: Represents a user group identifier across the system.
        example: 76a687e29ae1f428e7ebe101
        in: path
        name: id
        required: true
        schema:
          type: string
          description: Represents a user group identifier across the system.
          example: 76a687e29ae1f428e7ebe101
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserGroupRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupDtoV1'
          description: OK
      summary: Update a group
      tags:
      - Group
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
  /v1/workspaces/{workspaceId}/user-groups/{userGroupId}/users:
    servers:
    - url: https://api.clockify.me/api
    post:
      operationId: addUser
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      - description: Represents a user group identifier across the system.
        example: 76a687e29ae1f428e7ebe101
        in: path
        name: userGroupId
        required: true
        schema:
          type: string
          description: Represents a user group identifier across the system.
          example: 76a687e29ae1f428e7ebe101
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGroupUserRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupDtoV1'
          description: OK
      summary: Add users to a group
      tags:
      - Group
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
  /v1/workspaces/{workspaceId}/user-groups/{userGroupId}/users/{userId}:
    servers:
    - url: https://api.clockify.me/api
    delete:
      operationId: deleteUser
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      - description: Represents a user group identifier across the system.
        example: 76a687e29ae1f428e7ebe101
        in: path
        name: userGroupId
        required: true
        schema:
          type: string
          description: Represents a user group identifier across the system.
          example: 76a687e29ae1f428e7ebe101
      - description: Represents a user identifier across the system.
        example: 5a0ab5acb07987125438b60f
        in: path
        name: userId
        required: true
        schema:
          type: string
          description: Represents a user identifier across the system.
          example: 5a0ab5acb07987125438b60f
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupDtoV1'
          description: OK
      summary: Remove a user from a group
      tags:
      - Group
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
components:
  schemas:
    UserGroupRequest:
      type: object
      properties:
        name:
          maxLength: 100
          minLength: 0
          type: string
          description: Represents a user group name.
          example: development_team
    UserGroupDtoV1:
      type: object
      properties:
        id:
          type: string
          description: Represents a user group identifier across the system.
          example: 76a687e29ae1f428e7ebe101
        name:
          type: string
          description: Represents a user group name.
          example: development_team
        teamManagers:
          type: array
          description: Represents a list of assigned team managers for this user group.
          example:
          - id: 672323eb0024343a1585e8a7
            name: Jane Doe
          items:
            $ref: '#/components/schemas/UserRedactedDtoV1'
        userIds:
          type: array
          description: Represents a list of users' identifiers across the system.
          example:
          - 5a0ab5acb07987125438b60f
          - 98j4b5acb07987125437y32
          items:
            type: string
            description: Represents a list of users' identifiers across the system.
            example: '["5a0ab5acb07987125438b60f","98j4b5acb07987125437y32"]'
        workspaceId:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
    UserGroupUserRequest:
      required:
      - userId
      type: object
      properties:
        userId:
          type: string
          description: Represents a user identifier across the system.
          example: 5a0ab5acb07987125438b60f
    UserRedactedDtoV1:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
      description: Represents a list of assigned team managers for this user group.
      example:
      - id: 672323eb0024343a1585e8a7
        name: Jane Doe
    UpdateUserGroupRequest:
      type: object
      properties:
        name:
          maxLength: 100
          minLength: 0
          type: string
          description: Represents a user group name.
          example: development_team
  securitySchemes:
    AddonKeyAuth:
      in: header
      name: x-addon-token
      type: apiKey
    ApiKeyAuth:
      in: header
      name: x-api-key
      type: apiKey
    MarketplaceKeyAuth:
      in: header
      name: x-marketplace-token
      type: apiKey
    ReportAddonKeyAuth:
      in: header
      name: x-addon-token
      type: apiKey
x-tagGroups:
- name: Clockify API
  tags:
  - User
  - Workspace
  - Webhooks
  - Approval
  - Client
  - Custom fields
  - Expense
  - Holiday
  - Invoice
  - Project
  - Task
  - Scheduling
  - Tag
  - Time entry
  - Balance
  - Policy
  - Time Off
  - Group
- name: Clockify Reports API
  tags:
  - Shared Report
  - Team Report
  - Time Entry Report
  - Expense Report
- name: Clockify Audit Log API
  tags:
  - Audit Log Report
- name: Deprecated API
  tags:
  - Template (Deprecated)
  - Scheduling (Deprecated)
  - Workspace (Deprecated)
- name: Experimental API
  tags:
  - Entity changes (Experimental)
- name: Guide
  tags:
  - 'Entity Changes: Use cases'
