openapi: 3.2.0
info:
  description: '## Introduction

    By using this REST API, you can easily integrate Clockify with your own add-ons, push and pull data

    between Clockify and other tools, and create custom add-ons on CAKE.com Marketplace.'
  title: Clockify Group API
  version: v1
  x-logo:
    altText: Clockify logo
    url: https://clockify.me/downloads/clockify_logo_primary_black_margin.png
tags:
- name: Group
  x-displayName: Group
paths:
  /v1/workspaces/{workspaceId}/user-groups:
    servers:
    - url: https://api.clockify.me/api
    get:
      operationId: getUserGroups
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      - description: If provided, you'll get a filtered list of groups that matches the string provided in their project id.
        example: 5a0ab5acb07987125438b60f
        in: query
        name: project-id
        required: false
        schema:
          type: string
      - description: If provided, you'll get a filtered list of groups that matches the string provided in their name.
        example: development_team
        in: query
        name: name
        required: false
        schema:
          type: string
          description: If provided, you'll get a filtered list of groups that matches the string provided in their name.
          example: development_team
      - description: Column to be used as the sorting criteria.
        example: NAME
        in: query
        name: sort-column
        required: false
        schema:
          type: string
          enum:
          - ID
          - NAME
      - description: Sorting mode.
        example: ASCENDING
        in: query
        name: sort-order
        required: false
        schema:
          type: string
          enum:
          - ASCENDING
          - DESCENDING
      - description: Page number.
        example: 1
        in: query
        name: page
        required: false
        schema:
          type: integer
          description: Page number.
          format: int32
          example: 1
          default: 1
      - description: Page size.
        example: 50
        in: query
        name: page-size
        required: false
        schema:
          minimum: 1
          type: integer
          description: Page size.
          format: int32
          example: 50
          default: 50
      - description: If provided, you'll get a list of team managers assigned to this user group.
        example: true
        in: query
        name: includeTeamManagers
        required: false
        schema:
          type: boolean
          description: If provided, you'll get a list of team managers assigned to this user group.
          example: true
          default: false
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserGroupDtoV1'
          description: OK
      summary: Find all groups on a workspace
      tags:
      - Group
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
    post:
      operationId: createUserGroup
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGroupRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupDtoV1'
          description: Created
      summary: Add a new group
      tags:
      - Group
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
  /v1/workspaces/{workspaceId}/user-groups/{id}:
    servers:
    - url: https://api.clockify.me/api
    delete:
      operationId: deleteUserGroup
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      - description: Represents a user group identifier across the system.
        example: 76a687e29ae1f428e7ebe101
        in: path
        name: id
        required: true
        schema:
          type: string
          description: Represents a user group identifier across the system.
          example: 76a687e29ae1f428e7ebe101
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupDtoV1'
          description: OK
      summary: Delete a group
      tags:
      - Group
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
    put:
      operationId: updateUserGroup
      parameters:
      - description: Represents a user group identifier across the system.
        example: 76a687e29ae1f428e7ebe101
        in: path
        name: id
        required: true
        schema:
          type: string
          description: Represents a user group identifier across the system.
          example: 76a687e29ae1f428e7ebe101
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserGroupRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupDtoV1'
          description: OK
      summary: Update a group
      tags:
      - Group
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
  /v1/workspaces/{workspaceId}/user-groups/{userGroupId}/users:
    servers:
    - url: https://api.clockify.me/api
    post:
      operationId: addUser
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      - description: Represents a user group identifier across the system.
        example: 76a687e29ae1f428e7ebe101
        in: path
        name: userGroupId
        required: true
        schema:
          type: string
          description: Represents a user group identifier across the system.
          example: 76a687e29ae1f428e7ebe101
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserGroupUserRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupDtoV1'
          description: OK
      summary: Add users to a group
      tags:
      - Group
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
  /v1/workspaces/{workspaceId}/user-groups/{userGroupId}/users/{userId}:
    servers:
    - url: https://api.clockify.me/api
    delete:
      operationId: deleteUser
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      - description: Represents a user group identifier across the system.
        example: 76a687e29ae1f428e7ebe101
        in: path
        name: userGroupId
        required: true
        schema:
          type: string
          description: Represents a user group identifier across the system.
          example: 76a687e29ae1f428e7ebe101
      - description: Represents a user identifier across the system.
        example: 5a0ab5acb07987125438b60f
        in: path
        name: userId
        required: true
        schema:
          type: string
          description: Represents a user identifier across the system.
          example: 5a0ab5acb07987125438b60f
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGroupDtoV1'
          description: OK
      summary: Remove a user from a group
      tags:
      - Group
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
components:
  schemas:
    UpdateUserGroupRequest:
      type: object
      properties:
        name:
          maxLength: 100
          minLength: 0
          type: string
          description: Represents a user group name.
          example: development_team
    UserGroupRequest:
      type: object
      properties:
        name:
          maxLength: 100
          minLength: 0
          type: string
          description: Represents a user group name.
          example: development_team
    UserRedactedDtoV1:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
      description: Represents a list of assigned team managers for this user group.
      example:
      - id: 672323eb0024343a1585e8a7
        name: Jane Doe
    UserGroupUserRequest:
      required:
      - userId
      type: object
      properties:
        userId:
          type: string
          description: Represents a user identifier across the system.
          example: 5a0ab5acb07987125438b60f
    UserGroupDtoV1:
      type: object
      properties:
        id:
          type: string
          description: Represents a user group identifier across the system.
          example: 76a687e29ae1f428e7ebe101
        name:
          type: string
          description: Represents a user group name.
          example: development_team
        teamManagers:
          type: array
          description: Represents a list of assigned team managers for this user group.
          example:
          - id: 672323eb0024343a1585e8a7
            name: Jane Doe
          items:
            $ref: '#/components/schemas/UserRedactedDtoV1'
        userIds:
          type: array
          description: Represents a list of users' identifiers across the system.
          example:
          - 5a0ab5acb07987125438b60f
          - 98j4b5acb07987125437y32
          items:
            type: string
            description: Represents a list of users' identifiers across the system.
            example: '["5a0ab5acb07987125438b60f","98j4b5acb07987125437y32"]'
        workspaceId:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
  securitySchemes:
    AddonKeyAuth:
      in: header
      name: x-addon-token
      type: apiKey
    ApiKeyAuth:
      in: header
      name: x-api-key
      type: apiKey
    MarketplaceKeyAuth:
      in: header
      name: x-marketplace-token
      type: apiKey
    ReportAddonKeyAuth:
      in: header
      name: x-addon-token
      type: apiKey
x-tagGroups:
- name: Clockify API
  tags:
  - User
  - Workspace
  - Webhooks
  - Approval
  - Client
  - Custom fields
  - Expense
  - Holiday
  - Invoice
  - Project
  - Task
  - Scheduling
  - Tag
  - Time entry
  - Balance
  - Policy
  - Time Off
  - Group
- name: Clockify Reports API
  tags:
  - Shared Report
  - Team Report
  - Time Entry Report
  - Expense Report
- name: Clockify Audit Log API
  tags:
  - Audit Log Report
- name: Deprecated API
  tags:
  - Template (Deprecated)
  - Scheduling (Deprecated)
  - Workspace (Deprecated)
- name: Experimental API
  tags:
  - Entity changes (Experimental)
- name: Guide
  tags:
  - 'Entity Changes: Use cases'
