openapi: 3.2.0
info:
  description: '## Introduction

    By using this REST API, you can easily integrate Clockify with your own add-ons, push and pull data

    between Clockify and other tools, and create custom add-ons on CAKE.com Marketplace.'
  title: Clockify Template (Deprecated) API
  version: v1
  x-logo:
    altText: Clockify logo
    url: https://clockify.me/downloads/clockify_logo_primary_black_margin.png
tags:
- name: Template (Deprecated)
  x-displayName: Template (Deprecated)
  description: This endpoint group is deprecated and should not be used.
paths:
  /v1/workspaces/{workspaceId}/templates:
    servers:
    - url: https://api.clockify.me/api
    get:
      deprecated: true
      operationId: getTemplates
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      - description: If provided, you'll get a filtered list of templates that contain the provided string in their name.
        in: query
        name: name
        required: false
        schema:
          type: string
          description: If provided, you'll get a filtered list of templates that contain the provided string in their name.
      - description: If set to true will filter out inactive template projects and tasks.
        in: query
        name: cleansed
        required: false
        schema:
          type: boolean
          description: If set to true will filter out inactive template projects and tasks.
          default: false
      - description: If set to true will return hydrated template projects and tasks.
        in: query
        name: hydrated
        required: false
        schema:
          type: boolean
          description: If set to true will return hydrated template projects and tasks.
          default: false
      - in: query
        name: page
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: page-size
        required: false
        schema:
          type: integer
          format: int32
          default: 50
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TemplateDto'
          description: OK
      summary: Get all templates on a workspace
      tags:
      - Template (Deprecated)
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
    post:
      deprecated: true
      operationId: createMany
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TemplateRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TemplateDtoImpl'
          description: OK
      summary: Create templates on a workspace
      tags:
      - Template (Deprecated)
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
  /v1/workspaces/{workspaceId}/templates/{templateId}:
    servers:
    - url: https://api.clockify.me/api
    delete:
      deprecated: true
      operationId: delete_1
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      - description: Represents a template identifier across the system.
        example: 5b6d45c4b0798751107762b8
        in: path
        name: templateId
        required: true
        schema:
          type: string
          description: Represents a template identifier across the system.
          example: 5b6d45c4b0798751107762b8
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateDtoImpl'
          description: OK
      summary: Delete a template
      tags:
      - Template (Deprecated)
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
    get:
      deprecated: true
      operationId: getTemplate
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      - description: Represents a template identifier across the system.
        example: 5b6d45c4b0798751107762b8
        in: path
        name: templateId
        required: true
        schema:
          type: string
          description: Represents a template identifier across the system.
          example: 5b6d45c4b0798751107762b8
      - description: If set to true will filter out inactive template projects and tasks.
        in: query
        name: cleansed
        required: false
        schema:
          type: boolean
          description: If set to true will filter out inactive template projects and tasks.
          default: false
      - description: If set to true will return hydrated template projects and tasks.
        in: query
        name: hydrated
        required: false
        schema:
          type: boolean
          description: If set to true will return hydrated template projects and tasks.
          default: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateDto'
          description: OK
      summary: Get template by ID on a workspace
      tags:
      - Template (Deprecated)
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
    patch:
      deprecated: true
      operationId: update
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      - description: Represents a template identifier across the system.
        example: 5b6d45c4b0798751107762b8
        in: path
        name: templateId
        required: true
        schema:
          type: string
          description: Represents a template identifier across the system.
          example: 5b6d45c4b0798751107762b8
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplatePatchRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateDtoImpl'
          description: OK
      summary: Update a template
      tags:
      - Template (Deprecated)
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
components:
  schemas:
    ProjectTaskTupleDto:
      type: object
      properties:
        projectId:
          type: string
          description: Represents a project identifier across the system.
          example: 25b687e29ae1f428e7ebe123
        taskId:
          type: string
          description: Represents a task identifier across the system.
          example: 54m377ddd3fcab07cfbb432w
      description: Represents a list of template's projects and tasks.
    TimeIntervalDto:
      type: object
      properties:
        duration:
          type: string
          description: Represents a time duration.
          example: PT1H30M
        end:
          type: string
          format: date-time
        offsetEnd:
          type: integer
          format: int32
        offsetStart:
          type: integer
          format: int32
        start:
          type: string
          format: date-time
        timeZone:
          type: string
        zonedEnd:
          type: string
          format: date-time
        zonedStart:
          type: string
          format: date-time
      description: Represents a time interval object.
    CustomFieldValueDto:
      type: object
      properties:
        customFieldId:
          type: string
          description: Represents custom field identifier across the system.
          example: 44a687e29ae1f428e7ebe305
        sourceType:
          type: string
          description: Represents a custom field value source type.
          example: WORKSPACE
          enum:
          - WORKSPACE
          - PROJECT
          - TIMEENTRY
        timeEntryId:
          type: string
          description: Represents time entry identifier across the system.
          example: 64c777ddd3fcab07cfbb210c
        value:
          type: object
          description: Represents custom field value.
          example: 20231211-12345
      description: Represents a list of custom field value objects.
    ProjectTaskTupleRequest:
      required:
      - projectId
      type: object
      properties:
        projectId:
          minLength: 1
          type: string
          description: Represents a project identifier across the system.
          example: 25b687e29ae1f428e7ebe123
        taskId:
          type: string
          description: Represents a task identifier across the system.
          example: 54m377ddd3fcab07cfbb432w
        type:
          type: string
          description: Represents a time entry type.
          example: REGULAR
      description: Represents a list of template's projects and tasks.
    TimeEntryWithCustomFieldsDto:
      type: object
      properties:
        billable:
          type: boolean
          description: Indicates whether a time entry is billable.
          default: false
        customFieldValues:
          type: array
          description: Represents a list of custom field value objects.
          items:
            $ref: '#/components/schemas/CustomFieldValueDto'
        description:
          type: string
          description: Represents a time entry description.
          example: This is a sample time entry description.
        id:
          type: string
          description: Represents a time entry identifier across the system.
          example: 64c777ddd3fcab07cfbb210c
        projectId:
          type: string
          description: Represents a project identifier across the system.
          example: 25b687e29ae1f428e7ebe123
        tagIds:
          type: array
          description: Represents a list of tag identifiers across the system.
          example:
          - 321r77ddd3fcab07cfbb567y
          - 44x777ddd3fcab07cfbb88f
          items:
            type: string
            description: Represents a list of tag identifiers across the system.
            example: '["321r77ddd3fcab07cfbb567y","44x777ddd3fcab07cfbb88f"]'
        taskId:
          type: string
          description: Represents a task identifier across the system.
          example: 54m377ddd3fcab07cfbb432w
        timeInterval:
          $ref: '#/components/schemas/TimeIntervalDto'
        type:
          type: string
          description: Represents a time entry type enum.
          example: REGULAR
          enum:
          - REGULAR
          - BREAK
          - HOLIDAY
          - TIME_OFF
        userId:
          type: string
          description: Represents a user identifier across the system.
          example: 5a0ab5acb07987125438b60f
        workspaceId:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      description: Represents a set of template time entries.
    TemplateDtoImpl:
      type: object
      properties:
        entries:
          type: array
          description: Represents a set of template time entries.
          items:
            $ref: '#/components/schemas/TimeEntryWithCustomFieldsDto'
        id:
          type: string
          description: Represents a template identifier across the system.
          example: 5b6d45c4b0798751107762b8
        name:
          type: string
          description: Represents a template name.
          example: exampleTemplate
        projectsAndTasks:
          type: array
          description: Represents a list of template's projects and tasks.
          items:
            $ref: '#/components/schemas/ProjectTaskTupleDto'
        userId:
          type: string
          description: Represents a user identifier across the system.
          example: 89b687e29ae1f428e7ebe912
        weekStart:
          type: string
          description: Represents a day of the week.
          format: date
        workspaceId:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
    TemplateRequest:
      required:
      - name
      - projectsAndTasks
      type: object
      properties:
        name:
          minLength: 1
          type: string
          description: Represents a template name.
          example: exampleTemplate
        projectsAndTasks:
          type: array
          description: Represents a list of template's projects and tasks.
          items:
            $ref: '#/components/schemas/ProjectTaskTupleRequest'
        timeEntryIds:
          uniqueItems: true
          type: array
          description: Represents a set of template time entry ids.
          example:
          - 64c777ddd3fcab07cfbb210c
          items:
            type: string
            description: Represents a set of template time entry ids.
            example: '["64c777ddd3fcab07cfbb210c"]'
        weekStart:
          type: string
          description: Represents a date of the starting day of the week in the yyyy-MM-dd format.
          format: date
          example: '2019-08-24'
    TemplateDto:
      type: object
      properties:
        id:
          type: string
          description: Represents a template identifier across the system.
          example: 5b6d45c4b0798751107762b8
        name:
          type: string
          description: Represents a template name.
          example: exampleTemplate
        userId:
          type: string
          description: Represents a user identifier across the system.
          example: 89b687e29ae1f428e7ebe912
        workspaceId:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
    TemplatePatchRequest:
      required:
      - name
      type: object
      properties:
        name:
          minLength: 1
          type: string
          description: Represents a template name.
          example: exampleTemplate
  securitySchemes:
    AddonKeyAuth:
      in: header
      name: x-addon-token
      type: apiKey
    ApiKeyAuth:
      in: header
      name: x-api-key
      type: apiKey
    MarketplaceKeyAuth:
      in: header
      name: x-marketplace-token
      type: apiKey
    ReportAddonKeyAuth:
      in: header
      name: x-addon-token
      type: apiKey
x-tagGroups:
- name: Clockify API
  tags:
  - User
  - Workspace
  - Webhooks
  - Approval
  - Client
  - Custom fields
  - Expense
  - Holiday
  - Invoice
  - Project
  - Task
  - Scheduling
  - Tag
  - Time entry
  - Balance
  - Policy
  - Time Off
  - Group
- name: Clockify Reports API
  tags:
  - Shared Report
  - Team Report
  - Time Entry Report
  - Expense Report
- name: Clockify Audit Log API
  tags:
  - Audit Log Report
- name: Deprecated API
  tags:
  - Template (Deprecated)
  - Scheduling (Deprecated)
  - Workspace (Deprecated)
- name: Experimental API
  tags:
  - Entity changes (Experimental)
- name: Guide
  tags:
  - 'Entity Changes: Use cases'
