openapi: 3.2.0
info:
  description: '## Introduction

    By using this REST API, you can easily integrate Clockify with your own add-ons, push and pull data

    between Clockify and other tools, and create custom add-ons on CAKE.com Marketplace.'
  title: Clockify Entity changes (Experimental) API
  version: v1
  x-logo:
    altText: Clockify logo
    url: https://clockify.me/downloads/clockify_logo_primary_black_margin.png
tags:
- name: Entity changes (Experimental)
  x-displayName: Entity changes (Experimental)
  description: For use case see Entity Changes Use Cases
paths:
  /v1/workspaces/{workspaceId}/entities/created:
    servers:
    - url: https://api.clockify.me/api
    get:
      description: 'Retrieves records from the database collection that were created within a specified date range.

        The date range is determined by two parameters: start and end.'
      operationId: getCreatedEntityInfo
      parameters:
      - description: Represents workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      - description: Specifies the type of document to be retrieved. Expected values are CLIENTS, PROJECTS, TAGS, TASKS, SCHEDULED_ASSIGNMENT, TIME_ENTRY, TIME_ENTRY_RATE, TIME_ENTRY_CUSTOM_FIELD_VALUE.This parameter can accept multiple values, and at least one option must be provided. Based on the input, the application will return results corresponding to the selected document types.
        example: TIME_ENTRY
        in: query
        name: type
        required: true
        schema:
          type: array
          description: Specifies the type of document to be retrieved. Expected values are ${changetracker.update.documentation.description}.This parameter can accept multiple values, and at least one option must be provided. Based on the input, the application will return results corresponding to the selected document types.
          example: TIME_ENTRY
          items:
            type: string
            description: Specifies the type of document to be retrieved. Expected values are ${changetracker.update.documentation.description}.This parameter can accept multiple values, and at least one option must be provided. Based on the input, the application will return results corresponding to the selected document types.
            example: TIME_ENTRY
      - description: Represents the start date in yyyy-MM-ddThh:mm:ssZ format. This parameter is optional; if no start date is provided, the application will set a default start date that matches the end date to create a date range of 30 days. If the end date is not specified either, the default behavior will apply from the current date.
        example: '2024-10-29T10:00:00Z'
        in: query
        name: start
        required: false
        schema:
          type: string
          description: Represents the start date in yyyy-MM-ddThh:mm:ssZ format. This parameter is optional; if no start date is provided, the application will set a default start date that matches the end date to create a date range of 30 days. If the end date is not specified either, the default behavior will apply from the current date.
          example: '2024-10-29T10:00:00Z'
      - description: Represents the end date in yyyy-MM-ddThh:mm:ssZ format. This parameter is optional; if no end date is provided, the application will set a default end date that matches the start date to create a date range of 30 days.
        example: '2024-11-28T10:00:00Z'
        in: query
        name: end
        required: false
        schema:
          type: string
          description: Represents the end date in yyyy-MM-ddThh:mm:ssZ format. This parameter is optional; if no end date is provided, the application will set a default end date that matches the start date to create a date range of 30 days.
          example: '2024-11-28T10:00:00Z'
      - in: query
        name: page
        required: false
        schema:
          type: string
          default: '0'
      - in: query
        name: limit
        required: false
        schema:
          type: string
          default: '50'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
                additionalProperties: {}
          description: OK
      summary: Created entities (Experimental)
      tags:
      - Entity changes (Experimental)
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
  /v1/workspaces/{workspaceId}/entities/deleted:
    servers:
    - url: https://api.clockify.me/api
    get:
      description: 'Retrieves a list of record(s) that were deleted within a specified date range.

        The date range is determined by the two parameters start and end.


        > ### 💡 Note

        > Deleted entities will be updated and reflected in this endpoint approximately one minute after the deletion occurs. Also, entities that are created and deleted within the request date range will not appear in the /deleted endpoint.'
      operationId: getDeletedEntityInfo
      parameters:
      - description: 'Represents workspace identifier across the system (Experimental) '
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: 'Represents workspace identifier across the system (Experimental) '
          example: 64a687e29ae1f428e7ebe303
      - description: Specifies the type of document to be retrieved. Expected values are CLIENTS, PROJECTS, TAGS, TASKS, SCHEDULED_ASSIGNMENT, TIME_ENTRY, TIME_ENTRY_RATE, TIME_ENTRY_CUSTOM_FIELD_VALUE.This parameter can accept multiple values, and at least one option must be provided. Based on the input, the application will return results corresponding to the selected document types.
        example: TIME_ENTRY
        in: query
        name: type
        required: true
        schema:
          type: array
          description: Specifies the type of document to be retrieved. Expected values are ${changetracker.update.documentation.description}.This parameter can accept multiple values, and at least one option must be provided. Based on the input, the application will return results corresponding to the selected document types.
          example: TIME_ENTRY
          items:
            type: string
            description: Specifies the type of document to be retrieved. Expected values are ${changetracker.update.documentation.description}.This parameter can accept multiple values, and at least one option must be provided. Based on the input, the application will return results corresponding to the selected document types.
            example: TIME_ENTRY
      - description: Represents the start date in yyyy-MM-ddThh:mm:ssZ format. This parameter is optional; if no start date is provided, the application will set a default start date that matches the end date to create a date range of 30 days. If the end date is not specified either, the default behavior will apply from the current date.
        example: '2024-10-29T10:00:00Z'
        in: query
        name: start
        required: false
        schema:
          type: string
          description: Represents the start date in yyyy-MM-ddThh:mm:ssZ format. This parameter is optional; if no start date is provided, the application will set a default start date that matches the end date to create a date range of 30 days. If the end date is not specified either, the default behavior will apply from the current date.
          example: '2024-10-29T10:00:00Z'
      - description: Represents the end date in yyyy-MM-ddThh:mm:ssZ format. This parameter is optional; if no end date is provided, the application will set a default end date that matches the start date to create a date range of 30 days.
        example: '2024-11-28T10:00:00Z'
        in: query
        name: end
        required: false
        schema:
          type: string
          description: Represents the end date in yyyy-MM-ddThh:mm:ssZ format. This parameter is optional; if no end date is provided, the application will set a default end date that matches the start date to create a date range of 30 days.
          example: '2024-11-28T10:00:00Z'
      - in: query
        name: page
        required: false
        schema:
          type: string
          default: '0'
      - in: query
        name: limit
        required: false
        schema:
          type: string
          default: '50'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableCollectionLogBinDocumentDto'
          description: OK
      summary: Deleted entities (Experimental)
      tags:
      - Entity changes (Experimental)
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
  /v1/workspaces/{workspaceId}/entities/updated:
    servers:
    - url: https://api.clockify.me/api
    get:
      description: 'Retrieves records that were updated within the specified date range.

        The date range is determined by the two parameters: start and end.


        > ### 💡 Note

        > If an entity is both created and updated within the requested date range, it will be excluded from the /updated endpoint results.'
      operationId: getUpdatedEntityInfo
      parameters:
      - description: Represents workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      - description: Specifies the type of document to be retrieved. Expected values are CLIENTS, PROJECTS, TAGS, TASKS, SCHEDULED_ASSIGNMENT, TIME_ENTRY, TIME_ENTRY_RATE, TIME_ENTRY_CUSTOM_FIELD_VALUE.This parameter can accept multiple values, and at least one option must be provided. Based on the input, the application will return results corresponding to the selected document types.
        example: TIME_ENTRY
        in: query
        name: type
        required: true
        schema:
          type: array
          description: Specifies the type of document to be retrieved. Expected values are ${changetracker.update.documentation.description}.This parameter can accept multiple values, and at least one option must be provided. Based on the input, the application will return results corresponding to the selected document types.
          example: TIME_ENTRY
          items:
            type: string
            description: Specifies the type of document to be retrieved. Expected values are ${changetracker.update.documentation.description}.This parameter can accept multiple values, and at least one option must be provided. Based on the input, the application will return results corresponding to the selected document types.
            example: TIME_ENTRY
      - description: Represents the start date in yyyy-MM-ddThh:mm:ssZ format. This parameter is optional; if no start date is provided, the application will set a default start date that matches the end date to create a date range of 30 days. If the end date is not specified either, the default behavior will apply from the current date.
        example: '2024-10-29T10:00:00Z'
        in: query
        name: start
        required: false
        schema:
          type: string
          description: Represents the start date in yyyy-MM-ddThh:mm:ssZ format. This parameter is optional; if no start date is provided, the application will set a default start date that matches the end date to create a date range of 30 days. If the end date is not specified either, the default behavior will apply from the current date.
          example: '2024-10-29T10:00:00Z'
      - description: Represents the end date in yyyy-MM-ddThh:mm:ssZ format. This parameter is optional; if no end date is provided, the application will set a default end date that matches the start date to create a date range of 30 days.
        example: '2024-11-28T10:00:00Z'
        in: query
        name: end
        required: false
        schema:
          type: string
          description: Represents the end date in yyyy-MM-ddThh:mm:ssZ format. This parameter is optional; if no end date is provided, the application will set a default end date that matches the start date to create a date range of 30 days.
          example: '2024-11-28T10:00:00Z'
      - in: query
        name: page
        required: false
        schema:
          type: string
          default: '0'
      - in: query
        name: limit
        required: false
        schema:
          type: string
          default: '50'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
                additionalProperties: {}
          description: OK
      summary: Updated entities (Experimental)
      tags:
      - Entity changes (Experimental)
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
components:
  schemas:
    PageableCollectionLogBinDocumentDto:
      type: object
      properties:
        response:
          type: array
          items:
            $ref: '#/components/schemas/LogBinDocumentDto'
    LogBinDocumentDto:
      type: object
      properties:
        deletedAt:
          type: string
          format: date-time
        document:
          type: object
        documentCode:
          type: string
        id:
          type: string
  securitySchemes:
    AddonKeyAuth:
      in: header
      name: x-addon-token
      type: apiKey
    ApiKeyAuth:
      in: header
      name: x-api-key
      type: apiKey
    MarketplaceKeyAuth:
      in: header
      name: x-marketplace-token
      type: apiKey
    ReportAddonKeyAuth:
      in: header
      name: x-addon-token
      type: apiKey
x-tagGroups:
- name: Clockify API
  tags:
  - User
  - Workspace
  - Webhooks
  - Approval
  - Client
  - Custom fields
  - Expense
  - Holiday
  - Invoice
  - Project
  - Task
  - Scheduling
  - Tag
  - Time entry
  - Balance
  - Policy
  - Time Off
  - Group
- name: Clockify Reports API
  tags:
  - Shared Report
  - Team Report
  - Time Entry Report
  - Expense Report
- name: Clockify Audit Log API
  tags:
  - Audit Log Report
- name: Deprecated API
  tags:
  - Template (Deprecated)
  - Scheduling (Deprecated)
  - Workspace (Deprecated)
- name: Experimental API
  tags:
  - Entity changes (Experimental)
- name: Guide
  tags:
  - 'Entity Changes: Use cases'
