openapi: 3.2.0
info:
  description: '## Introduction

    By using this REST API, you can easily integrate Clockify with your own add-ons, push and pull data

    between Clockify and other tools, and create custom add-ons on CAKE.com Marketplace.'
  title: Clockify Scheduling (Deprecated) API
  version: v1
  x-logo:
    altText: Clockify logo
    url: https://clockify.me/downloads/clockify_logo_primary_black_margin.png
tags:
- name: Scheduling (Deprecated)
  x-displayName: Scheduling (Deprecated)
  description: This endpoint group contains deprecated endpoints from the Scheduling endpoint group.
paths:
  /v1/workspaces/{workspaceId}/scheduling/assignments/projects/totals:
    servers:
    - url: https://api.clockify.me/api
    get:
      deprecated: true
      operationId: getProjectTotals
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      - description: Represents a term for searching projects and clients by name.
        example: Project name
        in: query
        name: search
        required: false
        schema:
          type: string
          description: Represents a term for searching projects and clients by name.
          example: Project name
          default: ''
      - description: Represents a start date in the yyyy-MM-ddThh:mm:ssZ format.
        example: '2020-01-01T00:00:00Z'
        in: query
        name: start
        required: true
        schema:
          type: string
          description: Represents a start date in the yyyy-MM-ddThh:mm:ssZ format.
          example: '2020-01-01T00:00:00Z'
      - description: Represents an end date in the yyyy-MM-ddThh:mm:ssZ format.
        example: '2021-01-01T00:00:00Z'
        in: query
        name: end
        required: true
        schema:
          type: string
          description: Represents an end date in the yyyy-MM-ddThh:mm:ssZ format.
          example: '2021-01-01T00:00:00Z'
      - description: Page number.
        example: 1
        in: query
        name: page
        required: false
        schema:
          type: integer
          description: Page number.
          format: int32
          example: 1
          default: 1
      - description: Page size.
        example: 50
        in: query
        name: page-size
        required: false
        schema:
          minimum: 1
          type: integer
          description: Page size.
          format: int32
          example: 50
          default: 50
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SchedulingProjectsTotalsDtoV1'
          description: OK
      summary: Get all scheduled assignments per project
      tags:
      - Scheduling (Deprecated)
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
components:
  schemas:
    SchedulingProjectsTotalsDtoV1:
      type: object
      properties:
        assignments:
          type: array
          description: Represents a list of assignment per day objects.
          items:
            $ref: '#/components/schemas/AssignmentPerDayDto'
        clientName:
          type: string
          description: Represents project name.
          example: Software Development
        milestones:
          type: array
          description: Represents a list of milestone objects.
          items:
            $ref: '#/components/schemas/MilestoneDto'
        projectArchived:
          type: boolean
          description: Indicates whether project is archived or not.
          default: false
        projectBillable:
          type: boolean
          description: Indicates whether project is billable or not.
          default: false
        projectColor:
          type: string
          description: 'Color format ^#(?:[0-9a-fA-F]{6}){1}$. Explanation: A valid color code should start with ''#'' and consist of six hexadecimal characters, representing a color in hexadecimal format. Color value is in standard RGB hexadecimal format.'
          example: '#000000'
        projectId:
          type: string
          description: Represents project identifier across the system.
          example: 56b687e29ae1f428e7ebe504
        projectName:
          type: string
          description: Represents project name.
          example: Software Development
        taskId:
          type: string
          description: Represents task identifier across the system.
          example: 36b687e29ae1f428e7ebe109
        taskName:
          type: string
          description: Represents task name.
          example: Bugfixing
        totalHours:
          type: number
          description: Represents project total hours as double.
          format: double
          example: 490.5
        workspaceId:
          type: string
          description: Represents workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
    MilestoneDto:
      type: object
      properties:
        date:
          type: string
          description: Represents a date in yyyy-MM-ddThh:mm:ssZ format.
          format: date-time
          example: '2020-01-01T08:00:00Z'
        id:
          type: string
          description: Represents milestone identifier across the system.
          example: 34a687e29ae1f428e7ebe303
        name:
          type: string
          description: Represents milestone name.
          example: Q3
        projectId:
          type: string
          description: Represents project identifier across the system.
          example: 5b641568b07987035750505e
        workspaceId:
          type: string
          description: Represents workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
      description: Represents a list of milestone objects.
    AssignmentPerDayDto:
      type: object
      properties:
        date:
          type: string
          format: date-time
        hasAssignment:
          type: boolean
      description: Represents a list of assignment per day objects.
  securitySchemes:
    AddonKeyAuth:
      in: header
      name: x-addon-token
      type: apiKey
    ApiKeyAuth:
      in: header
      name: x-api-key
      type: apiKey
    MarketplaceKeyAuth:
      in: header
      name: x-marketplace-token
      type: apiKey
    ReportAddonKeyAuth:
      in: header
      name: x-addon-token
      type: apiKey
x-tagGroups:
- name: Clockify API
  tags:
  - User
  - Workspace
  - Webhooks
  - Approval
  - Client
  - Custom fields
  - Expense
  - Holiday
  - Invoice
  - Project
  - Task
  - Scheduling
  - Tag
  - Time entry
  - Balance
  - Policy
  - Time Off
  - Group
- name: Clockify Reports API
  tags:
  - Shared Report
  - Team Report
  - Time Entry Report
  - Expense Report
- name: Clockify Audit Log API
  tags:
  - Audit Log Report
- name: Deprecated API
  tags:
  - Template (Deprecated)
  - Scheduling (Deprecated)
  - Workspace (Deprecated)
- name: Experimental API
  tags:
  - Entity changes (Experimental)
- name: Guide
  tags:
  - 'Entity Changes: Use cases'
