openapi: 3.0.1
info:
  description: "## Introduction\nBy using this REST API, you can easily integrate Clockify with your own add-ons, push and pull data\nbetween Clockify and other tools, and create custom add-ons on [CAKE.com Marketplace](https://marketplace.cake.com).\nWhether you’re looking to automate time tracking, generate custom reports, or build other custom\nintegrations, our API provides the flexibility and power you need to get the job done. If you\nhave any questions or run into any issues while using our API, don’t hesitate to reach out to us for help.\nYou can also post questions on Stack Overflow with the Clockify tag to get help from the community.\n## Authentication\nTo authenticate your requests to your API, make sure to include either the ‘X-Api-Key’ or the\n‘X-Addon-Token’ in the request header, containing your API or Addon key. If your workspace is\non a subdomain (e.g. subdomain.clockify.me), you’ll need to generate a new API key in your\nProfile Settings that will work specifically for that workspace. This ensures that you’re\naccessing data from the correct workspace and helps maintain the security of your data.\n## Webhooks\nWebhooks can enhance your workflow by keeping your add-on up-to-date with the latest changes in\nClockify. With Clockify’s webhooks you can receive real-time notifications when certain events such as\nstarting a timer or deleting a time entry occur in Clockify.\nDepending on the workspace plan, workspace owners and admins can create:\n\n* Up to 3 webhooks on **FREE** plan\n* Up to 10 webhooks per user, with a total of 100 webhooks per entire workspace\non **BASIC**, **STANDARD** and **PRO** plans\n* Up to 100 webhooks per user, with a total of 300 webhooks per entire workspace on **ENTERPRISE** plan\n\n## Rate limiting\nOur REST API has a specific rate limit of 50 requests per second (by addon on one workspace) when\naccessed using X-Addon-Token. Exceeding this limit will result in an error message with the description\n\"Too many requests\".\n## Pagination\nOur REST API supports pagination for all synchronous GET endpoints that retrieve lists of entities.\nWhen an endpoint accepts the `page` and `pageSize` query parameters, it will return a paginated response.\n\nTo control the data returned in a paginated request, you can use the following optional query parameters.\n\n- **page** (integer): The page number you wish to retrieve. This is 1-indexed. If this parameter is omitted,\nthe API will default to the first page (page=1).\n- **pageSize** (integer): The number of items to include on each page. If this parameter is omitted,\na default page size will be used.\n\nEvery response from an endpoint that supports these parameters will include a custom `Last-Page` header.\nThis header provides a simple way to determine if you have reached the end of the data set.\n\n- **true:** The current page is the final page; no more data is available.\n- **false:** Additional pages can be fetched.\n## API URLs\nRefer to the list on what URL to use base on the subdomain and data region settings of your workspace.\n* Global - can be used by workspaces with or without subdomain.\n    * Regular: https://api.clockify.me/api/v1/file/image\n    * Reports: https://reports.api.clockify.me/v1/workspaces/{workspaceId}/reports/detailed\n* Regional\n    * Non-subdomain\n        * Regular: https://euc1.clockify.me/api/v1/file/image\n        * Reports: https://use2.clockify.me/report/v1/workspaces/{workspaceId}/reports/detailed\n    * Subdomain\n        * Regular: https://euc1.clockify.me/api/v1/file/image\n        * Reports: https://yoursubdomainname.clockify.me/report/v1/workspaces/{workspaceId}/reports/detailed\n* Developer\n    * Regular: https://developer.clockify.me/api/v1/file/image\n    * Reports: https://developer.clockify.me/report/v1/workspaces/{workspaceId}/reports/detailed\n## Regional Server Prefixes\nIf your workspace is in a specific region, you need to change your URL prefix to access v1 API endpoints.\nFor example, this is how **backend** api [v1/file/image](#tag/User/operation/uploadImage) endpoint\nwould look in EU region:\n[https://euc1.clockify.me/api/v1/file/image](https://euc1.clockify.me)\n\nBelow are the available regional server prefixes:\n* **EU (Germany)**: euc1\n* **USA**: use2\n* **UK**: euw2\n* **AU**: apse2\n\n\n## Breaking changes\nBreaking changes in APIs are modifications that disrupt existing integrations,\nrequiring users to update their applications to maintain functionality.\nThese changes can lead to failures or unexpected results if not addressed.\nSee the list of [breaking changes](breaking-changes/).\n\n## Experimental APIs\nThe experimental API has been thoroughly tested and is ready for use in production. However, please note that user feedback may lead to changes in the API’s structure or functionality. If you choose to use the experimental API, be prepared to modify your application code accordingly to accommodate any updates."
  title: Clockify Approval Balance API
  version: v1
  x-logo:
    altText: Clockify logo
    url: https://clockify.me/downloads/clockify_logo_primary_black_margin.png
tags:
- name: Balance
  x-displayName: Balance
paths:
  /v1/workspaces/{workspaceId}/time-off/balance/policy/{policyId}:
    servers:
    - url: https://api.clockify.me/api
    get:
      operationId: getBalancesForPolicy
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 60f91b3ffdaf031696ec61a8
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 60f91b3ffdaf031696ec61a8
      - description: Represents a policy identifier across the system.
        example: 63034cd0cb0fb876a57e93ad
        in: path
        name: policyId
        required: true
        schema:
          type: string
          description: Represents a policy identifier across the system.
          example: 63034cd0cb0fb876a57e93ad
      - example: 1
        in: query
        name: page
        required: false
        schema:
          maximum: 1000
          type: integer
          format: int32
          example: 1
          default: 1
      - example: 50
        in: query
        name: page-size
        required: false
        schema:
          maximum: 200
          minimum: 1
          type: integer
          format: int32
          example: 50
          default: 50
      - description: If provided, you'll get result sorted by sort column.
        example: USER
        in: query
        name: sort
        required: false
        schema:
          type: string
          enum:
          - USER
          - POLICY
          - USED
          - BALANCE
          - TOTAL
      - description: Sort results in ascending or descending order.
        example: ASCENDING
        in: query
        name: sort-order
        required: false
        schema:
          type: string
          enum:
          - ASCENDING
          - DESCENDING
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BalancesWithCountDtoV1'
          description: OK
      summary: Get balances for a policy
      tags:
      - Balance
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
    patch:
      operationId: updateBalance
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 60f91b3ffdaf031696ec61a8
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 60f91b3ffdaf031696ec61a8
      - description: Represents a policy identifier across the system.
        example: 63034cd0cb0fb876a57e93ad
        in: path
        name: policyId
        required: true
        schema:
          type: string
          description: Represents a policy identifier across the system.
          example: 63034cd0cb0fb876a57e93ad
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBalanceRequestV1'
        required: true
      responses:
        '204':
          description: No Content
      summary: Update a balance
      tags:
      - Balance
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
  /v1/workspaces/{workspaceId}/time-off/balance/user/{userId}:
    servers:
    - url: https://api.clockify.me/api
    get:
      operationId: getBalancesForUser
      parameters:
      - description: Represents a workspace identifier across the system.
        example: 60f91b3ffdaf031696ec61a8
        in: path
        name: workspaceId
        required: true
        schema:
          type: string
          description: Represents a workspace identifier across the system.
          example: 60f91b3ffdaf031696ec61a8
      - description: Represents a user identifier across the system.
        example: 60f924bafdaf031696ec6218
        in: path
        name: userId
        required: true
        schema:
          type: string
          description: Represents a user identifier across the system.
          example: 60f924bafdaf031696ec6218
      - description: Page number.
        in: query
        name: page
        required: false
        schema:
          maximum: 1000
          type: string
      - description: Page size.
        in: query
        name: page-size
        required: false
        schema:
          maximum: 200
          minimum: 1
          type: string
      - description: Sort result based on given criteria
        example: POLICY
        in: query
        name: sort
        required: false
        schema:
          type: string
          enum:
          - USER
          - POLICY
          - USED
          - BALANCE
          - TOTAL
      - description: Sort result by providing sort order.
        example: ASCENDING
        in: query
        name: sort-order
        required: false
        schema:
          type: string
          enum:
          - ASCENDING
          - DESCENDING
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BalancesWithCountDtoV1'
          description: OK
      summary: Get balance for a user
      tags:
      - Balance
      security:
      - ApiKeyAuth: []
      - AddonKeyAuth: []
components:
  schemas:
    UpdateBalanceRequestV1:
      required:
      - userIds
      - value
      type: object
      properties:
        note:
          type: string
          description: Represents a new balance note value.
          example: Bonus days added.
        userIds:
          minItems: 1
          uniqueItems: true
          type: array
          description: Represents the list of users' identifiers whose balance is to be updated.
          example:
          - 5b715448b079875110792222
          - 5b715448b079875110791111
          items:
            type: string
            description: Represents the list of users' identifiers whose balance is to be updated.
            example: '["5b715448b079875110792222","5b715448b079875110791111"]'
        value:
          maximum: 10000
          minimum: -10000
          type: number
          description: Represents a new balance value.
          format: double
          example: 22
    BalanceDtoV1:
      type: object
      properties:
        balance:
          type: number
          description: Represents the balance amount of the time unit
          format: double
          example: 20
        id:
          type: string
          description: Represent balance identifier across the system.
          example: 5b715448b079875110792222
        negativeBalanceAmount:
          type: number
          description: Represent negative balance amount.
          format: double
          example: 2
        negativeBalanceLimit:
          type: boolean
          description: Indicates whether the negative balance limit is allowed.
          example: true
          default: false
        policyArchived:
          type: boolean
          description: Indicates whether the policy is archived.
          example: false
          default: false
        policyId:
          type: string
          description: Represent policy identifier across the system.
          example: 5b715448b079875110793333
        policyName:
          type: string
          description: Represent policy name.
          example: Days
        policyTimeUnit:
          type: string
          description: Represent policy time unit.
          example: DAYS
          enum:
          - DAYS
          - HOURS
        total:
          type: number
          description: Represents the total amount
          format: double
          example: 18
        used:
          type: number
          description: Represents the balance used amount
          format: double
          example: 2
        userId:
          type: string
          description: Represent user identifier across the system.
          example: 5b715448b079875110791234
        userName:
          type: string
          description: Represent user's username.
          example: nicholas
        workspaceId:
          type: string
          description: Represent workspace identifier across the system.
          example: 5b715448b079875110791111
      description: Represent the list of balances.
    BalancesWithCountDtoV1:
      type: object
      properties:
        balances:
          type: array
          items:
            $ref: '#/components/schemas/BalanceDtoV1'
        count:
          type: integer
          description: Represents the count of balances.
          format: int32
          example: 2
  securitySchemes:
    AddonKeyAuth:
      in: header
      name: x-addon-token
      type: apiKey
    ApiKeyAuth:
      in: header
      name: x-api-key
      type: apiKey
    MarketplaceKeyAuth:
      in: header
      name: x-marketplace-token
      type: apiKey
    ReportAddonKeyAuth:
      in: header
      name: x-addon-token
      type: apiKey
x-tagGroups:
- name: Clockify API
  tags:
  - User
  - Workspace
  - Webhooks
  - Approval
  - Client
  - Custom fields
  - Expense
  - Holiday
  - Invoice
  - Project
  - Task
  - Scheduling
  - Tag
  - Time entry
  - Balance
  - Policy
  - Time Off
  - Group
- name: Clockify Reports API
  tags:
  - Shared Report
  - Team Report
  - Time Entry Report
  - Expense Report
- name: Clockify Audit Log API
  tags:
  - Audit Log Report
- name: Deprecated API
  tags:
  - Template (Deprecated)
  - Scheduling (Deprecated)
  - Workspace (Deprecated)
- name: Experimental API
  tags:
  - Entity changes (Experimental)
- name: Guide
  tags:
  - 'Entity Changes: Use cases'
